.skills{
  padding:100px 10%;
  background:#07070a;
  color:white;
  text-align:center;
}

.skills h2{
  font-size:40px;
  margin-bottom:50px;
  background:linear-gradient(45deg,#ff4fd8,#ffd700);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.skills-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:25px;
}

.skill-card{
  background:#111;
  padding:30px;
  border-radius:14px;
  transition:0.3s;
  border:1px solid #1f1f1f;
}

.skill-card:hover{
  transform:translateY(-10px);
  border:1px solid #ff4fa3;
}

.skill-card h3{
  color:#ff4fa3;
  margin-bottom:10px;
}
