.about{
padding:100px 8%;
background:#000;
color:white;
min-height:100vh;
}

.about-title{
text-align:center;
font-size:42px;
margin-bottom:60px;
background:linear-gradient(45deg,#ff4fd8,#ffd700);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

/* grid */
.about-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;
max-width:1100px;
margin:auto;
}

/* card */
.about-card{
background:rgba(255,255,255,0.05);
border:1px solid rgba(255,255,255,0.15);
padding:30px;
border-radius:18px;
backdrop-filter:blur(10px);
transition:0.4s;
box-shadow:0 0 25px rgba(255,0,200,0.08);
}

/* hover */
.about-card:hover{
transform:translateY(-10px);
box-shadow:0 0 40px rgba(255,0,200,0.3);
border:1px solid #ff4fd8;
}

.about-card h3{
color:#ffd700;
margin-bottom:15px;
}

.about-card p{
color:#ccc;
line-height:1.6;
}
