.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 60px;
background:black;
position:sticky;
top:0;
z-index:1000;
}

.logo{
color:#ff4fd8;
font-size:24px;
}

.portfolio{
color:#ffd700;
}

.navbar ul{
display:flex;
gap:40px;
list-style:none;
}

.navbar ul li a{
color:white;
text-decoration:none;
font-size:18px;
transition:0.3s;
}

.navbar ul li a:hover{
color:#ff4fd8;
}

/* 📱 mobile responsive */
@media(max-width:768px){
.navbar{
flex-direction:column;
gap:10px;
padding:15px;
}

.navbar ul{
gap:20px;
}
}
