body{
margin:0;
font-family: 'Poppins', sans-serif;
background:#0f172a;
color:white;
}


section{
padding:80px 10%;
}


h2{
text-align:center;
font-size:40px;
margin-bottom:40px;
color:#38bdf8;
}